.slide{
    height: 150px;
    width: 200px;
    display: grid;
    place-items: center;
    padding: 15px;
    perspective: 100px;
}


.image-slider{
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    height: 250px;  
    width: 100%;
}
.image-slider-track{
    display: flex;
    width:calc(200px*18);
    animation: play 40s linear infinite;
}

@keyframes play{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-250px*6));
    }
}

.image-slider::before,
.image-slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    width: 15%;
    z-index: 2;
    position: absolute;

    }

    .image-slider::before{
        left:0;
        top:0;
    }

    .image-slider::after{
        right:0;
        top:0;
        background: linear-gradient(to left,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);

    }